[mysqld]
character_set_server=utf8
collation_server=utf8_bin
skip-character-set-client-handshake

innodb_buffer_pool_size=256M
innodb_log_file_size=256M

autocommit=0
sql_mode=TRADITIONAL
transaction-isolation=READ-COMMITTED
